body {
    font-family: Arial;
    background-color: #81d4fa;
    text-align: center;
}

a {
    font-size: 36pt;
    text-align: center;
    letter-spacing: 1px;
    display: block;
    text-decoration: none;
    color: black;
    
}
a:hover {
  color: #ccc;
}

p1 {
    font-size: 36pt;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 auto;
    text-shadow: antiquewhite;

}


img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  
  
details {
    user-select: none;

}
  
/* details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-right: auto;
  } */
/*   
details[open] summary span.icon {
    transform: rotate(180deg);
  } */
  
summary {
    display: flex;
    cursor: pointer;
    margin: 0 auto;
  
  }
  
summary::-webkit-details-marker {
    display: none;
  }

div.nav {
    padding: 200px;
    background-color:rgb(189, 174, 44);
    border-radius: 5%;
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }


