<!-- templates/index.html -->
<html>
<head>  
    <link rel="stylesheet" href="/static/style.css">
</head>  
<body>    
<h1>Your Favorite Artist's Top Track</h1>  

<details>
<summary>
<p1>{{artist_name}}</p1>
</summary>
<div class="nav">   

      <a href='{{lyrics_url}}' target="_blank">{{tracktitle}}</a>

      <img src={{trackpic}}>

      <audio
        controls
        src={{songpreview}}>
            Your browser does not support the
            <code>audio</code> element.
      </audio>

</div>  
</details>
<!-- <details>
  <summary>
    What is the meaning of life?
    <span class="icon">👇</span>
  </summary>
  <p>
    42
  </p>
</details> -->




</body>
</html>