<!-- templates/index.html -->
<html>

<head>
  <link rel="stylesheet" href="/static/style.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" /> -->
</head>

<body>
  <h1>Favorite Artist's Top Track</h1>
  {% if idcheck == None %}
  <div>
    <p1>Please save your favorite artist's ID below!</p1>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div>
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %}
  <form method="POST" action="/musicadd">
    <div>
      <input type="text" name="get_id" placeholder="ID" autofocus="">
      <button>CLICK</button>
    </div>
  </form>

  {% else %}
  <div>
    <p1>Please save your favorite artist's ID below!</p1>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div>
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %}
  <form method="POST" action="/musicadd">
    <div>
      <input type="text" name="get_id" placeholder="ID" autofocus="">
      <button>CLICK</button>
    </div>
  </form>
  <details>
    <summary>
      <p1 class="glow-on-hover">{{artist_name}}</p1>
    </summary>
    <div class="nav">
      <div class="inner">
        <a href='{{lyrics_url}}' target="_blank" class="font-effect-fire">{{tracktitle}}</a>

        <img src={{trackpic}}>

        <audio controls src={{songpreview}}>
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>

    </div>
  </details>
  {% endif %}
</body>

</html>