<!-- templates/index.html -->
<html>

<head>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <div class="topbar">
    <nav class="container">
      <a href="{{ url_for('profile') }}" class="button">
        Profile
      </a>
      <a href="{{ url_for('logout') }}" class="button">
        Logout
      </a>
    </nav>
  </div>
  <div class="title">
    <h1>{{name}}'s Favorite Artist's Top Tracks</h1>
  </div>
  {% if idcheck == None %}
  <div>
    <p1>Please save your favorite artist's ID below!</p1>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div>
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %}
  <form method="POST" action="/musicadd">
    <div>
      <input type="text" name="get_name" placeholder="Enter Name" autofocus="">
      <button>Search n Save</button>
    </div>
  </form>

  {% else %}
  <div class="list">
    <p2>Your saved artists</p2>
    <nav>
      <ol>
        {%for i in range(0, len)%}
        <li style="color:blue;">{{artistname_list[i]}}</li>
        {%endfor%}
      </ol>
    </nav>
  </div>
  <div class="artist">
    <details>
      <summary>
        <p1 class="glow-on-hover">{{artist_name}}</p1>
      </summary>
      <div class="nav">
        <div class="inner">
          <p class="font-effect-fire">{{tracktitle}}</p>
          <a href='{{lyrics_url}}' target="_blank">Lyrics</a>

          <img src={{trackpic}}>

          <audio controls src={{songpreview}}>
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        </div>
      </div>
    </details>
  </div>
  <div class="subtitle">
    <p1>Please save your favorite artist's ID below!</p1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/musicadd">
      <div>
        <input type="text" name="get_name" placeholder="Enter Name" autofocus="">
        <button>Search n Save</button>
      </div>
    </form>
    <form method="POST" action="/musicdelete">
      <div>
        <input type="text" name="delete_name" placeholder="Enter name to remove" autofocus="">
        <button>Remove</button>
      </div>
    </form>
  </div>
  {% endif %}
</body>

</html>