/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation);
body {
    font-family: 'Pacifico', cursive;
    background-color: #A8DADC;
    text-align: center;
}

.topbar .container {
  margin-left: 70%;
  
}

.button {
  display: inline-block;
  margin: 20px;
  color: #E63946;
  
}


h1 {
  font-size: 28pt;
  letter-spacing: 2px;
  text-shadow: 1px 1px #457B9D;
  margin-top: 0%;
  color: #1D3557;
}


.big-section {
  width: 100%;
  height: 420px;
}

.list {
  text-align: left;
  font-size:12pt;
  width: fit-content;
  margin-left: 10%;
  float: left;

}

.list .list-item {
  color: #1D3557;
}

.list .list-item .remove-button {
  margin-left:10px;
  padding:1px;
}

details {
  user-select: none;

}

summary {
  display: block;
  cursor: pointer;
  width: fit-content;
  margin: auto;
}

.artist {
  display: inline-block;
  width: 600px;
  height: 420px;
}

.artist details summary p1 {
  font-size: 28pt;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 7%;
}

.nav {
  
  width: 50%;
  height: 350px;
  margin-left : auto;
  margin-right: auto;

}


.nav .inner {
    font-size: 22px;
    text-align: center;
    width:100%;
    height:100%;
}

.nav .inner p {
    text-align: center;
    width: 100%;
    display:block;
    text-decoration: none;
    color:salmon;
    margin-bottom: 3%;
    
}

.nav .inner a:hover {
  color: #ccc;
}

.nav .inner img {
    border: 6px solid #ddd;
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin: 0 auto;

    
  } 
.nav .inner audio {
    margin-top: 10px;
    width: 300px;
    height: 54px;
}

.subtitle {
  text-align: left;
  width:fit-content;
  margin-left: 10%;

}
  
summary::-webkit-details-marker {
    display: none;
  }

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #353535;
    background: #F1FAEE;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #E63946, #F1FAEE, #A8DADC, #457B9D, #1D3557);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* https://dev.to/webdeasy/top-20-css-buttons-animations-f41 */



